html, div {
  font-family: 'Sunflower', sans-serif;
}

.app{
  background-color: #292F36;
}

.container2 {
  text-align: left;
  overflow: hidden;
  width: 24vw;
  min-width: 250px;
  margin: auto;
  display: table;
  padding: 0 0 8em 0;
  color: rgb(149, 149, 149);
  font-weight: 200;
}

.no-link-2 {
  color: rgb(149, 149, 149);
  font-weight: 200;

  text-decoration: none;

}

.container2 td, .container2 th {
  padding-bottom: 2%;
  padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.container2 tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.container2 tr:nth-child(even) {
  background-color: #2C3446;
}

.container2 th {
  background-color: #1F2739;
  color: #FFE66D;
}

.container2 td:first-child { color: #FB667A; }


.container2 tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.container2 td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.container2 td:nth-child(4),
.container2 th:nth-child(4) { display: none; }
}

.red-bull {
  background-color: #3672c6;
}

.aston-martin {
  background-color: #358c75;
}

.mercedes {
  background-color: #6bd4bf;
}

.ferrari {
  background-color: #fa1436;
}

.mclaren {
  background-color: #f5801f;
}

.alpine {
  background-color: #2293d1;
}

.haas {
  background-color: gainsboro;
}

.alfa-romeo {
  background-color: #c92e4b;
}

.alpha-tauri {
  background-color: #5e90aa;
}

.williams {
  background-color: #37bedd;
}