.nav-bar {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;}

.nav-button {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-drop-menu {
  display: none;
}

.nav-drop-menu.show {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  width: 900px !important;
}


@media only screen and (-width: 850px) {
  .nav-drop-menu.show {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
  }
}