h3 {
  color: red;
  font-weight: 600 !important;
  font-size: 28px !important;
  text-transform: uppercase !important;
}

h4 {
  color: white;
  font-weight: 100 !important;
  font-size: 17px !important;
  text-transform: uppercase !important;

}

.track-banner {
  position: relative;
  text-align: center;
  color: white;
}

.track-img {
  object-fit: cover;
  object-position: 0 70%;
  width: 100%;
  height: 13vw;
  filter: brightness(45%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.track-title {
  position: absolute;
  font-size: 5vw;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-border {
  border-color: #FFE66D;
  border-style: solid;
  border-width: 0 0 10px 0;
}

.track-layout {
  object-fit: cover;
  height: 15vw;
  min-height: 150px;
  width: auto;
  margin: 0 20px 0 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFE66D;
  border-radius: 3px;
}

.track-container {
  background-color: #121417;
  margin: 0 5% 0 5%;
  padding: 0 0 20px 0;
  border-style: solid;
  border-color: #FFE66D;
  border-width: 0 2px 0 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.track-lvl-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px 0 40px;
}

.track-details {
  margin: 20px
}
.general-stats {
  color: white;
  margin: 20px;
  font-weight: 100;
}

.all-time-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  text-align: center;
  color: #FFE66D;
  padding: 20px 0 0 0;
}

.track-season{
  margin: 20px auto;
}

.tracks-table {
  width: 70vw;
  margin: 30px 0 0 0;
}

.season-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 850px) {
  .track-container{ 
    margin: 0;
    border: none;
  }
  .track-table {
    width: 100%
  }
  .track-lvl-1 {
    justify-content: center;
  }
}