.season {
  background-color: #121417;
  margin: 0 10% 0 10%;
  border-style: solid;
  border-color: #FFE66D;
  border-width: 0 2px 0 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.season-table {
  margin: auto;
  padding: 0 0 8em 0;
  color: rgb(149, 149, 149);
  font-weight: 200;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

/* Background-color of the odd rows */
.season-table tr:nth-child(odd) {
  background-color: #323C50;
}
/* Background-color of the even rows */
.season-table tr:nth-child(even) {
  background-color: #2C3446;
}

.season-table th {
  background-color: #1F2739;
  color: #FFE66D;
}

.season-table td:first-child { color: #FB667A; }

.fastest-lap {
  color: violet;
}

.dotd {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}

.dnf {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.pole-position {
  background-color: green;
}

.season-records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

.legend{
  display: flex;
  justify-content: center;
  gap: 50px
}